 h2
        {
            color: #22ff00;
            front-size:30px
        }

p:hover{
    background-color: rgb(151, 54, 99);
}
.standout
{
    color: rgb(164, 224, 13);
}

.image1{
    border-radius: 50%;
}
.image2{
    border-radius: 30px;
}
.image3{
    opacity: 0.1;
}
.image4{
    filter: grayscale(0.5);
}
.image5{
    filter: blur(10px);
}